{% extends 'base.html'%} {%block content_title%}
<h1>Приєднатися до QBlogs</h1> 
<p><h3>Уже зареєстровані?<a href="{{url_for('users.login')}}"><span style="color:firebrick;font: small-caps bold 24px/1 sans-serif;"> Увійти</span></h3></p></a>
{%endblock%}
{% block content%}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
          <li class="offset-md-3 col-md-4 alert alert-success" id="flash_msg">  {{message}} </li> 
      {% endfor %}
   {% endif %}
{% endwith %}
<div class="offset-md-3 col-md-4">
    
    <form action="{{ url_for('users.register') }}" method="POST" enctype="multipart/form-data">
    <div id="two_fields">
        <input id="nick_field" class="offset-md-8 form-control" type="text" name="nickname" placeholder="Нікнейм">
    <br>
    <input id="pass_field" class="offset-md-8 form-control" type="text" name="password" placeholder="Пароль">
</div>
    <img id="user_image" src="{{url_for('static', filename='users_images/default.png')}}" alt="User image">
    <div id="new_uimage_div">
        <label for="new_uimage">Додати фото профілю</label>
        <input type="file" class="form-control form-control-lg" id="new_uimage" name="new_uimage" accept=".jpg, .jpeg, .png" onchange="previewImage(event)">
        <br><br>
        <input type="submit" id="change_user_data" class="offset-md-8 btn btn-danger" name="submit_user_data" value="Зареєструватися">
    </form>
    </div>
</div>
<script>
    var previewImage = function(event) {
        var preview = document.getElementById('user_image');
        preview.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
{%endblock%} {%block title%} Зареєструватися {%endblock%}

